name: Docker Image CI

on: push

env:
  REGISTRY: hub.oepkgs.net
  IMAGE_NAME: oerv-ci/osmarker-ci

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Docker Setup BuildX
      uses: docker/setup-buildx-action@v3
      with:
        platforms: linux/riscv64
        cleanup: true

    - name: Verify Docker BuildX Version
      run: docker buildx version


    - name: Generate Docker metadata
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
            type=raw,value=latest

    - name: Create a new builder instance
      run: docker buildx create --use --name insecure-builder --buildkitd-flags '--allow-insecure-entitlement security.insecure'

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ vars.DOCKERHUB_OEPKGS_OERVCI_USERNAME }}
        password: ${{ secrets.DOCKERHUB_OEPKGS_OERVCI_TOKEN }}
      
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        allow: security.insecure
        no-cache: true
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/riscv64

